* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#hero{
  display: flex;
}
.content{
  width: 50%;

  h1{
   padding:4rem;
   font-size: 3rem;
  }
  h2{
    margin-bottom: 1rem;
    font-size: 2rem;
  }
 .detail{
  padding: 5rem;
  background-color: #FDBF14;
 }

}
.image{
  width: 50%;
}
