/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo img {
  width: 150px;
}

#hero {
  display: flex;
}
.content {
  width: 50%;

  h1 {
    padding: 4rem;
    font-size: 3rem;
  }
  h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .detail {
    padding: 5rem;
    background-color: #fdbf14;
  }
}
.image {
  width: 50%;
}

/* footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 2rem;
  align-items: center;
  background-color: #28242c;
  color: #fff;
  padding: 0.4rem;

  button {
    font-size: 1.3rem;
    border-radius: 20px;
    margin-left: 3rem;
    padding: 0.2rem;
    background-color: #f7c200;
    text-transform: uppercase;
  }
  a {
    color: #fff;
    background-color: #28242c;
    padding: 0.3rem;
  }

  .right-link {
    margin-right: 4rem;
    text-decoration: none;
  }
} */ */
